<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <h1>Please edit your blog post:</h1>

  <label for="name">Post Title: </label>
  <input type="text" name="name" value="<%= @post.name %>"><br>

  <label for="content">Post Content: </label>
  <textarea name="content" id="content" cols="30" rows="10">
    <%= @post.content %>
  </textarea><br>

  <input type="submit" id="submit">
</form>